<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>1.386</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>hudson.model.Hudson.Administer:abedra</permission>
    <permission>hudson.model.Hudson.Administer:cemerick</permission>
    <permission>hudson.model.Hudson.Administer:richhickey</permission>
    <permission>hudson.model.Hudson.Administer:stuart.halloway</permission>
    <permission>hudson.model.Hudson.Administer:stuartsierra</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
  </securityRealm>
  <systemMessage>&lt;p&gt;Clojure build server; deploying to &lt;a href=&quot;https://oss.sonatype.org/&quot;&gt;oss.sonatype.org&lt;/a&gt;; releases are sync&apos;ed to the &lt;a href=&quot;http://repo1.maven.org/maven2&quot;&gt;Maven Central Repository&lt;/a&gt;.&lt;/p&gt;&#xd;
&lt;p&gt;Older &lt;a href=&quot;/releases&quot;&gt;releases&lt;/a&gt; and &lt;a href=&quot;/snapshots&quot;&gt;snapshots&lt;/a&gt; are hosted locally.&lt;/p&gt;&#xd;
&lt;p&gt;All projects build on Sun/Oracle JDK 1.5 unless specified otherwise.&lt;/p&gt;</systemMessage>
  <jdks>
    <jdk>
      <name>Sun JDK 1.5</name>
      <home>/var/lib/hudson/tools/Sun_JDK_1.5.0_22</home>
      <properties/>
    </jdk>
    <jdk>
      <name>Sun JDK 1.6</name>
      <home>/usr/java/jdk1.6.0_20</home>
      <properties/>
    </jdk>
    <jdk>
      <name>Oracle JDK 1.7</name>
      <home>/usr/java/jdk1.7.0-b147</home>
      <properties/>
    </jdk>
    <jdk>
      <name>IBM JDK 5</name>
      <home>/usr/java/ibm-java2-x86_64-50</home>
      <properties/>
    </jdk>
    <jdk>
      <name>OpenJDK 1.6</name>
      <home>/usr/java/java-1.6.0-openjdk-1.6.0.0.x86_64</home>
      <properties/>
    </jdk>
    <jdk>
      <name>JRockit 1.5</name>
      <home>/usr/java/jrockit-jdk1.5.0_28-R28.1.3-4.0.1</home>
      <properties/>
    </jdk>
    <jdk>
      <name>JRockit 1.6</name>
      <home>/usr/java/jrockit-jdk1.6.0_24-R28.1.3-4.0.1</home>
      <properties/>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Clojure</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>clojure</string>
        <string>clojure-test-matrix</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Contrib Libraries</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>algo.monads</string>
        <string>algo.monads-test-matrix</string>
        <string>core.incubator</string>
        <string>core.incubator-test-matrix</string>
        <string>core.logic</string>
        <string>core.logic-test-matrix</string>
        <string>core.match</string>
        <string>core.match-test-matrix</string>
        <string>core.unify</string>
        <string>core.unify-test-matrix</string>
        <string>data.csv</string>
        <string>data.csv-test-matrix</string>
        <string>data.finger-tree</string>
        <string>data.finger-tree-test-matrix</string>
        <string>data.json</string>
        <string>data.json-test-matrix</string>
        <string>data.priority-map</string>
        <string>data.priority-map-test-matrix</string>
        <string>data.xml</string>
        <string>data.xml-test-matrix</string>
        <string>data.zip</string>
        <string>data.zip-test-matrix</string>
        <string>java.classpath</string>
        <string>java.classpath-test-matrix</string>
        <string>java.data</string>
        <string>java.data-test-matrix</string>
        <string>java.jdbc</string>
        <string>java.jdbc-test-matrix</string>
        <string>java.jmx</string>
        <string>java.jmx-test-matrix</string>
        <string>math.combinatorics</string>
        <string>math.combinatorics-test-matrix</string>
        <string>math.numeric-tower</string>
        <string>math.numeric-tower-test-matrix</string>
        <string>test.generative</string>
        <string>test.generative-test-matrix</string>
        <string>tools.cli</string>
        <string>tools.cli-test-matrix</string>
        <string>tools.logging</string>
        <string>tools.logging-test-matrix</string>
        <string>tools.macro</string>
        <string>tools.macro-test-matrix</string>
        <string>tools.namespace</string>
        <string>tools.namespace-test-matrix</string>
        <string>tools.nrepl</string>
        <string>tools.nrepl-test-matrix</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Support</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <jobNames class="tree-set">
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>build.ci</string>
        <string>build.poms</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
    </listView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
    <PROXY__HEADER>X-Forwarded-For</PROXY__HEADER>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
  <disabledAdministrativeMonitors/>
</hudson>