name: Test

on: [workflow_call]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest] # macOS-latest, windows-latest]
        java-version: ["8", "11", "17", "21", "25"]
        clojure-version: ["1.10.3", "1.11.4", "1.12.4"]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - name: Set up Java
      uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'temurin'
        cache: 'maven'
    - name: Build with Maven
      run: mvn -ntp -B -Dclojure.version=${{ matrix.clojure-version }} clean test
